	  <ul>
	    <li><%= link_to "Rock", rock_path %></li>
		<li><%= link_to "Paper", paper_path %></li>
		<li><%= link_to "Scissors", scissors_path %></li>
	  </ul>
	  To check your stats, visit:
	  <ul>
	    <li><%= link_to "Stats", stats_path %></li>
	  </ul>
	  To reset your stats, visit:
	  <ul>
	    <li><%= link_to "Reset Game", reset_path %></li>
	  </ul>